html, body {
    margin: 0;
    padding: 0;
}

.header, .menu, .footer, table.col td {
    border: 1px solid black;
}

.header, .footer {
    height: 80px;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

table.col {
    width: 100%;
    height: 100%;
}

table.col td {
    vertical-align: top;
    padding: 0;
}

td.col1, td.col3 {
    width: 200px;
}

.img-lotus {
    width: 70px;
    height: 70px;
}

.menu-fixed {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.section, .section-elems, .section-head {
    padding: 10px;
}

.section-image {
    width: 20%;
    border: 1px solid slateblue;
}

.section-element {
    border: 1px solid salmon;
    padding: 5px;
}

table.table-goods {
    width: 100%;
}

table.table-goods tr:first-child {
    text-align: center;
    font: bold 14px serif;;
}

.purchase-button {
    background-color: bisque;
    border: 1px solid burlywood;
    text-align: center;
    text-decoration: none;
}

table.order {
    width: 100%;
    border: none;
}

table.order input {
    width: 100%;
}

.image-gallery {
    overflow: hidden;
}

.image-gallery-gull {
    width: 366px;
}