html, body {
    margin: 0;
    padding: 0;
}

table {width: 100%;}

table.tableGoods tr:first-child {
    text-align: center;
    font: bold 14px serif;;
}

header, menu, footer, aside, .content {border: 1px solid black;}

header, footer {height: 80px;}

footer {clear: both;}

menu {
    margin: 0; padding: 0;
    height: 60px;
    text-align: center;
    background-color: white;
}

.asideLeft, .asideRightight {width: 200px;}

.asideLeft {float: left;}

.asideRight {float: right;}

.content {margin: 0 202px;}

aside, .content {height: 100%;}

.imgLotus {width: 70px; height: 70px;}

.menuFixed{
    z-index: 1;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
}

.mainpageUrlNone {display: none;}

.section, .sectionElems, .sectionHead {padding: 10px;}

.sectionImage {
    width: 20%;
    border: 1px solid slateblue;
}

.sectionElement {border: 1px solid salmon; padding: 5px;}